*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Baloo 2" ;
    src: url("../fonts-family/Baloo2-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts-family/OpenSans/OpenSans-Regular.ttf");
}


/*Contenu page*/

p{
    color: white;
    font-size: 1.5rem;
    font-family:'Open Sans' ;
    text-align: justify;
}

.p2{
    color: black;
    font-size: 1.2rem;
}

h1{
    margin-bottom: 2rem;
    text-decoration: underline;
    color: white;
    font-size: 2.5rem;
    font-family: 'Baloo 2'
}

.rectangle-noir1{
    width: 48rem;
    background-color: black;
    border: 0.5rem solid #e2fbb7;
    box-shadow: 30px 30px #B1F3BC;
    border-radius: 1rem;
    text-align: center;
    line-height: 3rem;
    box-sizing: border-box;
    padding: 2rem;

}


article{
    padding-top: 10rem;
}

.qsn{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Blue-house-wall-with-window-and-vines_4ZDx90_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.mission{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Estate-agent-presenting-house-to-buyers_4APkW5_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}


.équipe{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Group-of-students-doing-teamwork-together-for-project_5okA95_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.valeurs{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Close-up-top-view-of-young-people-putting-their-hands-together_4dPka4_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.pourquoi{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Traditional-wall-stone-stable-and-house_4m1vQ4_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}


.vert{
    padding-top: 0;
}

section{
    background-color: whitesmoke;
    border: 0.5rem solid black;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-vert{
    width: auto;
    text-align: center;
    background-color: #B1F3BC;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 17rem;
    padding-right: 17rem;
    font-family: 'Open Sans'
}




/*Media queries contenu page*/

@media all and (max-width: 1230px){
    .rectangle-vert{
        padding: 2rem;
    }
}

@media all and (max-width: 870px){
    h1{
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .p2{
        font-size: 1.5rem;
    }

    .rectangle-noir1{
        width: 35rem;
        line-height: 2rem;
        padding: 2rem;
    }

    .qsn, .mission, .équipe, .valeurs, .pourquoi {
        background-size: 45rem;
    }

    .p2{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 650px){
    .rectangle-noir1{
        width: 25rem;
    }
}

@media all and (max-width: 494px){
    .rectangle-noir1{
        width: 20rem;
        line-height: 1.5rem;
    }

      h1{
        font-size: 1.5rem;
    }

    p {
        font-size: 0.75rem;
    }

    .p2{
        font-size: 0.75rem;
    }

    article {
        padding-top: 0;
    }

}
@media all and (max-width: 434px){

        .rectangle-noir1{
            border: 0.2rem solid #e2fbb7;
            box-shadow: 10px 10px #B1F3BC;
        }

}

@media all and (max-width: 362px){

    .rectangle-noir1{
        box-shadow: 0px 0px #B1F3BC;
        border: 0.2rem solid #B1F3BC;
    }

}
