*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Baloo 2" ;
    src: url("../fonts-family/Baloo2-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts-family/OpenSans/OpenSans-Regular.ttf");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B1F3BC;
    width: 100%;
}

.menu{
    display: flex;
    gap: 3rem;
}

.compte{
    font-size: 1.5rem;
    padding-right: 4rem;
    text-decoration: underline;
    font-family: 'Baloo 2'
}

.compte:hover{
    font-weight: bolder;
    transition: 0.3s ease;
}

.logo{
    padding-left: 1rem;
    transition: 0.3s ease;
}

.logo:hover {
    opacity: 0.5;
}

a{
    color: black;
    font-size: 1.5rem;
    transition: 0.3s ease;
    font-family: 'Baloo 2'
}

.menu a:hover{
    font-weight: bolder;
}

p{
    color: white;
    font-size: 2rem;
    font-family:'Open Sans' ;
}

.p2{
    color: black;
    font-size: 2rem;
}

h1{
    color: white;
    font-size: 3rem;
    font-family: 'Baloo 2'
}

.rectangle-noir1{
    width: 48rem;
    background-color: black;
    border: 0.5rem solid black;
    border-radius: 1rem;
    text-align: center;
    line-height: 4rem;
    box-sizing: border-box;
    padding: 2rem;

}


article{
    padding-top: 10rem;
}

.qsn{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Blue-house-wall-with-window-and-vines_4ZDx90_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.mission{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Estate-agent-presenting-house-to-buyers_4APkW5_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}


.équipe{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Group-of-students-doing-teamwork-together-for-project_5okA95_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.valeurs{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Close-up-top-view-of-young-people-putting-their-hands-together_4dPka4_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}

.pourquoi{
    background-color: #e2fbb7;
    background-image: url(../images/aboutus/np_Traditional-wall-stone-stable-and-house_4m1vQ4_free.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 75rem;
}


.vert{
    padding-top: 0;
}

section{
    background-color: whitesmoke;
    border: 0.5rem solid black;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 1rem;
}




.rectangle-vert{
    width: auto;
    text-align: center;
    background-color: #B1F3BC;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 17rem;
    padding-right: 17rem;
    font-family: 'Open Sans'
}

footer{
    background-color: black;
}

h2{
    color: white;
    font-size: 1.5rem;
}


.logowhite:hover{
    opacity: 0.5;
    transition: 0.3s ease;
}

.p3{
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Baloo 2'
}

.logos{
    display: flex;
    gap: 5rem;
    margin: 1rem;
    font-size: 5rem;
}

.colonnes{
display: flex;
justify-content: space-between;
color: white;
padding: 2rem;
font-family: 'Baloo 2'
}

.listef{
    padding: 0;
    font-size: 1.5rem;
}

.a2{
    color: white;
}

.a2:hover {
    text-decoration: underline;
}

.c1, .c2, .c3 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyrigth{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

@media all and (max-width: 1230px){
    .rectangle-vert{
        padding: 2rem;
    }
}

@media all and (max-width: 805px){
    h1{
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .p2{
        font-size: 1.5rem;
    }

    .rectangle-noir1{
        width: 35rem;
        line-height: 2rem;
        padding: 2rem;
    }

    .qsn, .mission, .équipe, .valeurs, .pourquoi {
        background-size: 45rem;
    }
}

@media all and (max-width: 590px){
    .rectangle-noir1{
        width: 25rem;
    }
}

@media all and (max-width: 427px){
    .rectangle-noir1{
        width: 20rem;
        line-height: 1.5rem;
    }

      h1{
        font-size: 1.5rem;
    }

    p {
        font-size: 0.75rem;
    }

    .p2{
        font-size: 0.75rem;
    }

    article {
        padding-top: 0;
    }

}
