*{
    margin: 0px;
    padding: 0px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B1F3BC;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.compte{
    font-size: 1.5rem;
    padding-right: 4rem;
    text-decoration: underline;
    font-family: 'Baloo 2'
}

.compte:hover{
    font-weight: bolder;
    transition: 0.3s ease;
}

.logo{
    padding-left: 1rem;
    transition: 0.3s ease;
}

.logo:hover {
    opacity: 0.5;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: 0.3s ease;
    font-family: 'Baloo 2'
}

.menu a:hover{
    font-weight: bolder;
}

p{
    color: white;
    font-size: 2rem;
}

.p2{
    color: black;
    font-size: 2.1rem;
}

h1{
    color: white;
    font-size: 3rem;
    font-family: 'Baloo 2'
}

.rectangle-noir1{
    width: 31rem;
    background-color: black;
    border: 0.5rem solid black;
    border-radius: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;

}


.rectangle-noir2{
    width: 56rem;
    text-align: right;
    background-color: black;
    border: 0.5rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: 40%; 
    margin-right: 3rem; 
    margin-top: 4rem; 
    margin-bottom: 3rem;
    font-family: 'Open Sans'
}

.rectangle-noir3{
    width: 47rem;
    background-color: black;
    border: 0.5rem solid black;
    border-radius: 1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem;
}

.qsn{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 66px 42px 28px 50px;
    background-image: url(../images/aboutus/np_Blue-house-wall-with-window-and-vines_4ZDx90_free.jpeg)
}

.mission{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 66px 42px 28px 50px;
    background-image: url(../images/aboutus/np_Estate-agent-presenting-house-to-buyers_4APkW5_free_1.jpeg)
}


.équipe{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 66px 42px 28px 50px;
    background-image: url(../images/aboutus/np_Group-of-students-doing-teamwork-together-for-project_5okA95_free.jpeg)
}

.valeurs{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 66px 42px 28px 50px;
    background-image: url(../images/aboutus/np_Close-up-top-view-of-young-people-putting-their-hands-together_4dPka4_free.jpeg)
}


.pourquoi{
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 66px 42px 28px 50px;
    background-image: url(../images/aboutus/np_Traditional-wall-stone-stable-and-house_4m1vQ4_free.jpeg)
}

.rectangle-vert{
    width: auto;
    text-align: center;
    background-color: #B1F3BC;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 17rem;
    padding-right: 17rem;
    font-family: 'Open Sans'
}

footer{
    background-color: black;
}

h2{
    color: white;
    font-size: 1.5rem;
}


.logowhite:hover{
    opacity: 0.5;
    transition: 0.3s ease;
}

.p3{
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Baloo 2'
}

.logos{
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 1rem;
}

.colonnes{
display: flex;
justify-content: space-between;
color: white;
padding: 2rem;
font-family: 'Baloo 2'
}

.listef{
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

.a2{
    color: white;
}

.a2:hover {
    text-decoration: underline;
}

.c1, .c2, .c3 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyrigth{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}