@font-face {
    font-family: "baloo2";
    src: 
        url("../fonts/web fonts/Baloo2-Medium.ttf") format(truetype);
}

@font-face {
    font-family: "opensans";
    src: url("../fonts/web fonts/OpenSans/OpenSans-Regular.ttf") format(truetype);
}

[hidden] {
    display: none;
}


/*********** Global ***********/

* {
    padding: 0;
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
}

.title-txt {
    font-family: "baloo2", sans-serif;
    font-size: 1.4rem;
}

.title-txt.active,
.account-connexion.active h2 {
    font-weight: bold;
}

.justify-content {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}

p, a, ul {
    text-decoration: none;
    color: black;
    list-style: none;
}

.content-text,
.number_point,
section h2,
footer h2, .info-button {
    font-family: 'opensans', sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;
}

button, a {
    cursor: pointer;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.hover-low-opacity:hover {
    opacity: 50%;
}


/*********** Header ***********/

header {
    background-color: var(--main-color);
    font-family: baloo2;
    padding: var(--padd-header);
    font-size: 1.4rem;
}

.logo:hover {
    opacity: 0.6;
}

.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}
.menu a:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

#check, .checkbtn {
    display: none;
    cursor: pointer;
    color: black;
}

.stop-overflow {
    overflow: hidden;
}

@media all and (max-width: 768px) {
    
    .checkbtn { 
        display: block;
        font-size: 30px;
        padding-right: 0.675rem;
        float: right;
    }

    .menu, .logo-mon-compte {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        right: -100%;
        text-align: center;
        z-index: 1;
        background: var(--main-color);
        touch-action: none;
    }

    .menu {
        top: 5rem;
    }

    .logo-mon-compte {
        top: 18rem;
    }

    .menu li {
        width: 100%;
    }

    .menu li:first-child {
        padding-top: 2rem;
    }

    .active {
        right: 0;
    }

    .menu, .active, #menu-opener, #menu-closer, .logo-mon-compte {
        transition: .4s;
    }

}





.background{
    background-color: #b1f3bc;
}

h1{
    text-align: center;
    font-family: "baloo 2";
    font-size: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}


.premier_bandeau{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 7.5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    font-size: 2rem;
    list-style: none;
    gap: 2rem;
}

.bandeau_budget_max{
    padding-left: 2rem;    
}

.bandeau_surface{
    padding-right: 2rem;
}

.deuxième_bandeau{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    list-style: none;
    gap: 2rem;
}

.bandeau_euros{
    padding-left: 3rem;
}

.bandeau_superficie{
    padding-right: 2rem;
}


.div_rechercher{
    display: block;
    text-align: center;
    padding-top: 5rem;
    
    
}

.bouton_rechercher{
    background-color: black;
    color: aliceblue;
    font-size: 3rem;
}

.bouton_rechercher:hover{
    background-color: gray;
    cursor: pointer;
}

.dernières_annonces{
    display: block;
    text-align: center;
    font-size: 2rem;
    padding-top: 7rem;
}

.dernières_annonces:hover{
    font-weight: bolder;
}

.photos_maison{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.première_image{
    border: black;
    border-style: groove;
    border-width: 1rem;
}

.deuxième_image{
    border: black;
    border-style: groove;
    border-width: 1rem;
}

.textes_maisons{
    font-size: 1.5rem;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    padding-left: 5.5rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}

.texte_maison_un{
    font-size: 1.5rem;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    padding-left: 5.5rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;

}

.texte_maison_deux{
    font-size: 1.5rem;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    padding-left: 14.5rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}






/*********** Footer ***********/

footer {
    background-color: #1f1f1f;
    font-family: "opensans";
    padding-top: 0.675rem;
}

.social-media {
    color: var(--third-color);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding-left: 38px;
}

.social-media li {
    padding: 20px;
}

footer p, footer h2, .footer-queries a {
    color: var(--third-color);
}

.colonne {
    display: flex;
    padding-top: 0.675rem;
}

footer ul {
    flex-flow: column;
}

footer li {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-services, .footer-access, .footer-contact {
    display: flex;
    flex-direction: column;
    padding-left: 8.95rem;
}


.copyright {
    padding-bottom: 0.675rem;
    text-align: center;
}

.footer-logo img {
    width: 150px;
    height: 73px;
}

.footer-logo {
    padding: 0.675rem;
    padding-top: 0;
}

footer p {
padding-left: 9px;
padding-top: 2rem;
}

#fb:hover, #tw:hover, #insta:hover {
    transform: scale(2);
    cursor: pointer;
}

footer h2 {
    padding-bottom: 10px;
}

footer li a:hover {
    text-decoration: underline;
}

.footer-queries {
    display: flex;
    justify-content: space-around;
}

@media all and (max-width: 1200px) {

    .colonne {
        flex-direction: column;
    }

    .footer-access, .footer-services, .footer-contact {
        width: 33.33%;
    }

}

@media all and (max-width: 992px) {

    .footer-access, .footer-services, .footer-contact {
        padding-left: 1.5rem;
    }

    .social-media {
        padding-left: 0rem;
    }
    
    .footer-access, .footer-services, .footer-contact {
        width: 20%;
    } 
}

@media all and (max-width: 768px) {

    .footer-access, .footer-services, .footer-contact {
        padding-left: 1.5rem;
        width: max-content;
    }
}

@media all and (max-width: 576px) {

    .colonne {
        flex-direction: column;
    }
    
    .footer-access, .footer-services, .footer-contact {
        padding: 0.675rem;
        padding-left: 1rem;
    }

    .logo {
        padding-left: 12.5rem;
    }

    .footer-logo p {
        padding-left: 8.5rem;
    }

    .social-media {
        font-size: 3.5rem;
        padding-left: 0rem;
        justify-content: space-around;
    }

    .social-media li {
        padding: 1rem 8.6rem 1rem 0rem;
    }

    .footer-queries {
        flex-direction: column;
    }

    .social-media li:last-child {
        padding-right: 0;
    }
}

@media all and (max-width: 460px) {

    .logo {
        padding-left: 6.5rem;
    }

    .social-media li {
        padding-right: 4rem;
    }

}



/* BREAKPOINT 1200PX

@media all and (max-width: 1200px){
    h1{
        flex-direction: column;
    }
    .photos_maison{
        flex-direction: column;
    }
    .textes_maisons{
        flex-direction: column;
    }

    .photos_maison{
        width: 33rem;
        height: 33rem;
        padding-top: 13rem;
    }

    .textes_maisons{
        padding-left: 20rem;
        display: block;
        
    }

    .texte_maison_un{
        padding-top: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .texte_maison_deux{
        padding-bottom: 10rem;
    }

    .photos_maison{
        float: left;
    }
}


/* BREAKPOINT 1080px 

@media all and (max-width: 1080px){
    h1{
        font-size: 4.5rem;
    }

    .premier_bandeau, .deuxième_bandeau{
        font-size: 2.5rem;
        display: block;
        padding-right: 0rem; 
    }

    .premier_bandeau{
        float: left;
        padding-right: 2rem;
        padding-left: 13rem;
    }

    .deuxième_bandeau{
        padding-top: 7.8rem;
    }

    .photos_maison{
        width: 33rem;
        height: 33rem;
        padding-top: 13rem;
    }

    .textes_maisons{
        padding-left: 20rem;
        display: block;
        
    }

    .texte_maison_un{
        padding-top: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .texte_maison_deux{
        padding-bottom: 10rem;
    }

    .photos_maison{
        float: left;
    }
}


/* BREAKPOINT 992px 

@media all and (max-width: 992px){
    h1{
        font-size: 4rem;
    }

    .premier_bandeau, .deuxième_bandeau{
        font-size: 2.5rem;
        display: block;
        padding-right: 0rem; 
    }

    .premier_bandeau{
        float: left;
        padding-right: 2rem;
        padding-left: 13rem;
    }

    .deuxième_bandeau{
        padding-top: 7.8rem;
    }

    .bandeau_euros{
        padding-left: none;
    }

    .textes_maisons{
        visibility: hidden;
    }

    .photos_maison{
        width: 33rem;
        height: 33rem;
        padding-top: 13rem;
    }

    .textes_maisons{
        padding-left: 20rem;
        display: block;
        
    }

    .texte_maison_un{
        padding-top: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .texte_maison_deux{
        padding-bottom: 10rem;
    }

    .photos_maison{
        float: left;
    }

}

/* BREAKPOINT 768px 

@media all and (max-width: 768px){
    h1{
        font-size: 3rem;
    }

    .premier_bandeau, .deuxième_bandeau{
        font-size: 2rem;
        display: block;
        padding-right: 0rem; 
    }

    .premier_bandeau{
        float: left;
        padding-right: 2rem;
        padding-left: 7rem;
    }

    .deuxième_bandeau{
        padding-top: 7.8rem;
    }

    .textes_maisons{
        visibility: hidden;
    }

    .photos_maison{
        width: 33rem;
        height: 33rem;
        padding-top: 13rem;
    }

    .textes_maisons{
        padding-left: 20rem;
        display: block;
        
    }

    .texte_maison_un{
        padding-top: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .texte_maison_deux{
        padding-bottom: 10rem;
    }

    .photos_maison{
        float: left;
    }

}


/* BREAKPOINT 576px 

@media all and (max-width: 576px){
    .bandeau_localisation, .bandeau_ville{
        
    }

    h1{
        font-size: 2.5rem;
    }

    .premier_bandeau, .deuxième_bandeau{
        font-size: 1.5rem;
        display: block;
        padding-right: 0rem; 
    }

    .premier_bandeau{
        float: left;
        padding-right: 2rem;
        padding-left: 6rem;
    }

    .deuxième_bandeau{
        padding-top: 7.8rem;
    }

    .textes_maisons{
        visibility: hidden;
    }
    .photos_maison{
        width: 33rem;
        height: 33rem;
        padding-top: 13rem;
    }

    .textes_maisons{
        padding-left: 20rem;
        display: block;
        
    }

    .texte_maison_un{
        padding-top: 15rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .texte_maison_deux{
        padding-bottom: 10rem;
    }

    .photos_maison{
        float: left;
    }

}


