@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}
:root {
    --main-color: #b1f3bc;
    --third-color: white;
}
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.title-txt {
    font-family: "Baloo2", sans-serif;
    font-size: 1.4rem;
}
.flex {
    display: flex;
}
.justify-content{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}
.menu li:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

header {
    background-color: var(--main-color);
    font-family: baloo2;
    font-size: 1.4rem;
    padding: 0.675rem;
}

/*body*/

a, h1, h2, h3, h4, h5, h6 {
    font-family: "baloo2";
    font-weight: 500;
    font-size: 32px;
}
.contact {
    text-align: center;
    padding-bottom: 30px;
}
  
.contactform {
    display: flex;
    justify-content: space-between;
    }

.phone {
    h2, h3 {
        font-size: 20px;
    }
    width: 50%;
    padding: 0 20px 30px;

}

h4 {
    background-color: #b1f3bc; 
    font-size: 20px;
    margin-right: 62%;
    margin-bottom: 1%;    
}
 
.form {
    display: flex;
    justify-content: space-between;
}

.formatting {
    #name, #first-name, #email, #subjet-select, #message {
        background-color: #b1f3bc;        
    }  
    width: 50%;
    padding: 0 20px;
} 
 
#subjet, #subjet-selected, #message, #submit {
    display: block;
}
.subject {
    background-color: #b1f3bc;
    margin-right: 62%;
}

#message {
    margin-top: 1%;
    margin-bottom: 1%;
}
#submit {
    bottom: 3px;
    background-color: #E2FBB7;
}


.find-us {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 30px 20px 30px 20px;
   
    h5 {background-color: #b1f3bc; 
        font-size: 20px;
    }
}

.champs {
    background-color: #b1f3bc;
    margin-right: 90%;
    margin-bottom: 1%;   
}

footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
footer a {
    color: aliceblue;
}
footer a:hover {
    color: aliceblue;
    font-weight: bolder;
}

.social-networks {
    img{
        /*.contrast{filter: contrast(300%);}*/
        color: aliceblue;
    }
}

.services, rapid-access, to-contact {
    color: aliceblue;
}
.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*medias query*/
@media all AND (max-width:579px)
    {
        nav {
            display: none;
        }
        .logo-my-account {
            display: none;
        }
    }


