
/**********TITRE DE LA PAGE**********/
h3 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Baloo2", sans-serif;
    font-size: 1.5rem;
}

/***********CASE D'ESTIMATION*********/

.estimer {
    margin-right: 50rem;
    margin-left: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

h5 {
    margin: 1rem;
    margin-top: 1rem;
    font-size: 0.950rem;
    font-family: "opensans", sans-serif;
}

.selection {
    margin-left: 1.5rem;
    font-size: 0.850rem;
    font-family: "opensans", sans-serif;
}

.adresse {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    font-family: "opensans", sans-serif;
}

.adresse input {
    border-radius: 0.880rem;
    margin-right: 5rem;
}

.valider {
    display: block;
    font-size: 0.850rem;
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: #e2fbb7;
    padding: 1rem;
    border-radius: 0.88rem;
    margin-bottom: 1rem;
    font-family: "opensans", sans-serif;
}

/***********PARTIE INFORMATION**********/

.information {
    display: flex;
    justify-content: space-around;
}

.estimation-immo {
    margin-top: 8rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--main-color);
}

.info {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.88rem;
}

.info p {
    font-family: "opensans", sans-serif;
    text-align: justify;
    font-size: 0.85rem;
}

.ensaone {
    display: block;
    font-size: 0.84rem;
    background-color: #e2fbb7;
    padding: 0.6rem;
    border-radius: 0.88rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: "opensans", sans-serif;
}

@media all and (max-width: 576px) {
    .estimation-immo {
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        margin-top: 4rem;
    }

    .information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    h3 {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }
}

@media all and (max-width: 768px) {

}