body {
    margin: 0 0;
    width:100%;
    bottom:0;
    left:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 25px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}
/*header : logo et menu*/
header {
    display: flex;
    background-color: #b1f3bc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul {
    display: flex;
    list-style: none;
    margin: 47px 0 5px 5px;
    width: 100%;
}

header ul li {
    margin-left: 30px;
}

.logo {
    margin-left: 20px;
}
nav {
    width: 100%;
}

.auth {
   display: flex;
   margin-top: 47px;
   list-style: none;
   width: -webkit-fill-available;
   width: 100%;
   justify-content: flex-end;
   padding-right: 30px;
}

i[class="fa-regular fa-user"] {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

a:hover {
    font-weight: 600;
}
/*bannière avec fonction recherche*/
.banner {
    background-image: url("../images/home/site_corot_1920.jpg");
    padding: 50px 0;
}

.search {
    width: 70%;
    background-color: #ffffff95;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu_search {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 40px 0;
    justify-content: space-around;
    
}

.menu_search_deco {
    border: #1f1f1f 1px solid;  
    border-radius: 6px;
    padding: 5px;
    width: 100px;
}

#menu_search_deco {
    background-color: #e2fbb7;
    border: none;
}


/*section actualités*/
.news {
    background-color: #1f1f1f;
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.news h1 {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -50px;
}
.news_slide {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

.news_1 {
    background-image: url("../images/home/actu_1.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_2 {
    background-image: url("../images/home/actu_2.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_3 {
    background-image: url("../images/home/actu_3.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_all {
    background-color: #ffffff;
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    text-align: center;
}

.activ_news_all span {
   position: relative;
   top: 30%;
   font-size: larger;
}

.activ_news_all_btn {
    display: inline-block;
    background:#e2fbb7;
    border-radius:50%;
    width:28px;
    height:28px;
    border:1px solid #1f1f1f; 
    margin-top: 33%;
}

.activ_news_all_btn span {
    font-size: 40px;
    font-weight: 300;
    position:relative;
    top: -18px;
    left: 0;
}

.activ_news_all_btn span:hover {
    font-weight: 500;
}

.activ_news {
    background-color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 73%;
    left: 0;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    
}

.activ_news a:hover {
    font-weight: 600;
}

/*section derniers biens en vente*/
.sell {
    background-color: #ffffff;
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.sell h1 {
    color: #000000;
    text-align: center;
    position: relative;
    top: -50px;
}

.sell_slide {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

.sell_frame {
    border:#1f1f1f solid 1px;
    padding-bottom: 5px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.sell_slide p {
    text-align: center;
    margin: 0 0;
}

.sell_type {
    display: flex;
    padding-left: 12px;
}

.sell_type span {
    padding-left: 8px;
}

i[class="fa-solid fa-bed"] {
    padding-top: 2px;   
}

.sell_type {

}
.sell_type_bedroom {
   

}