body {
    margin: 0 0;
    width:100%;
    bottom:0;
    left:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
/*header : logo et menu*/
header {
    display: flex;
    background-color: #b1f3bc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul {
    display: flex;
    list-style: none;
    margin: 47px 0 5px 5px;
    width: 100%;
}

header ul li {
    margin-left: 30px;
}

.logo {
    margin-left: 20px;
}
nav {
    width: 100%;
}

.auth {
   display: flex;
   margin-top: 47px;
   list-style: none;
   width: -webkit-fill-available;
   width: 100%;
   justify-content: flex-end;
   padding-right: 30px;
}

a:hover {
    font-weight: 600;
}
/*bannière avec fonction recherche*/
.banner {
    background-image: url("../images/home/site_corot_1920.jpg");
    padding: 50px 0;
}

.search {
    width: 70%;
    background-color: #ffffff95;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu_search {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 40px 0;
    justify-content: space-around;
    
}

.menu_search_deco {
    border: #1f1f1f 1px solid;  
    border-radius: 6px;
    padding: 5px;
    width: 100px;
}

#menu_search_deco {
    background-color: #b1f3bc;
    border: none;
}


/*section actualités*/
.news {
    background-color: #1f1f1f;
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.news_slide {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.news_slide a {
    /*color: #ffffff;*/
}

.news_1 {
    background-image: url("../images/home/actu_1.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_2 {
    background-image: url("../images/home/actu_2.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_3 {
    background-image: url("../images/home/actu_3.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_all {
    background-color: #ffffff;
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.activ_news {
    background-color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-content: flex-end ;
    flex-wrap: wrap;
    -moz-border-radius:7px 7px 0 0;
    -webkit-border-radius:7px 7px 0 0;
    border-radius:7px 7px 0 0;

}

/*section derniers biens en vente*/
.sell {
    background-color: #ffffff;
    width: auto;
    color: chartreuse;
}

