body {
    margin: 0 0;
    width:100%;
    bottom:0;
    left:0;
    font-family: 'Open sans', sans-serif;
    }

p, span {
    font-size: 1rem;
}

h1 {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Baloo 2', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/*header : logo et menu*/
header a {
    font-size: 1.1rem;
}

header {
    display: flex;
    background-color: #b1f3bc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.2rem;
}

header ul {
    display: flex;
    list-style: none;
    margin: 47px 0 5px 5px;
    width: 100%;
}

header ul li {
    margin-left: 30px;
}

.logo {
    margin-left: 20px;
}

nav {
    width: 100%;
}

.auth {
   display: flex;
   margin-top: 47px;
   list-style: none;
   width: -webkit-fill-available;
   width: 100%;
   justify-content: flex-end;
   padding-right: 30px;
}

i[class="fa-regular fa-user"] {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

a:hover {
    font-weight: 600;
}
/*bannière avec fonction recherche*/
.banner {
    background-image: url("../images/home/site_corot_1920.jpg");
    padding: 5rem 0;
    /*background-size: cover;*/
}

.search {
    width: fit-content;
    background-color: #ffffff95;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.menu_search {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 2rem 0;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;    
}

.menu_search_deco {
    border: #1f1f1f 1px solid;  
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 13rem;
    background-color: #ffffff;
    font-family: 'Open sans', sans-serif;
    margin-right: 0.5rem;
    margin-right: 0.5rem;
}

.menu_search_deco p {
    width: 13rem;
}

.input_icon {
    position: relative;
}

.input_icon_search+i {
    position: absolute;
    top: 8px;
    left: 185px;
}

input[type="text"]:focus {
	outline:none;
}

.search_btn button {
    padding: 7px 10px 7px 10px;
    background-color: #e2fbb7;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-color:transparent;
    cursor: pointer;
}

.search_btn button:hover {
    border: solid #000000 1px;
    font-size: 0.95rem;
}

/*section actualités*/
.news {
    background-color: #1f1f1f;
    width: auto;
    padding-bottom: 80px;
    margin-top: 0;
}

.news h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.news_slide h1 {
    display:initial;
}
.news_slide {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

.news_1 {
    background-image: url("../images/home/actu_1.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_2 {
    background-image: url("../images/home/actu_2.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_3 {
    background-image: url("../images/home/actu_3.jpg");
    width: 200px;
    height: 150px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.news_all {
    background-color: #ffffff;
    width: 200px;
    height: 153px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    text-align: center;
}

.activ_news_all span {
   position: relative;
   top: 25%;
   font-size: 1.1rem;
}

.activ_news_all_btn {
    display: inline-block;
    background:#e2fbb7;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:28px;
    height:28px;
    border:1px solid #1f1f1f; 
    margin-top: 33%;
}

.activ_news_all_btn span {
    font-size: 40px;
    font-weight: 300;
    position:relative;
    top: -18px;
    left: 0;
}

.activ_news_all_btn span:hover {
    font-weight: 600;
}

.activ_news {
    background-color: #ffffff;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 72%;
    left: 0;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.activ_news a:hover {
    font-weight: 600;
}

/*section derniers biens en vente*/
.sell {
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
}

h1 {
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sell_slide {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 0;
}

.sell_frame {
    border:#1f1f1f solid 1px;
    padding-bottom: 5px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.sell_slide p {
    text-align: center;
    margin: 0 0;
}

.sell_type {
    display: flex;
    justify-content: space-around;
    padding-left: 12px;
}

.sell_type span {
    padding-left: 8px;
}

i[class="fa-solid fa-bed"] {
    padding-top: 2px;   
}

.vertical_row {
    width: 1px;
    border-left: 1px solid black;
    height: 20px;
}

.navbar_sell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.navbar_sell a {
    text-align: center;
}

.navbar_sell_min_btn {
    display: inline-block;
    background:#e2fbb7;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8px;
    height:8px;
    border:1px solid #1f1f1f; 
}

.navbar_sell ul {
    padding-left: 0;
}

/*section avis clients*/
.customers {
    background-color: #1f1f1f;
    width: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: #ffffff;
}

.customers h2 {
    margin: 0 auto;
}

.customers p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.customers .button {
    padding: 7px 10px 7px 10px;
    background-color: #e2fbb7;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-color:transparent;
    width: 10rem;
    margin-top: 15px;
    transition: transform .3s;
    margin: 0 auto;
}

.customers .button:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.customers .button a:hover {
    font-weight: inherit;
}

/*section article agence*/
.bkg_agency {
    background-image: url("../images/home/stj_pano_opacity.png");
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 3rem;
}

.agency {
    background-color: #ffffff;
    width: auto;
}

.agency h1 {
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

.agency p {
    text-align: center;
}

.button_estimate {
    padding: 7px 10px 7px 10px;
    background-color: #e2fbb7;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-color:transparent;
    width:10rem;
    margin-top: 15px;
    transition: transform .3s;
    text-align: center;
}

.button_manage {
    padding: 7px 10px 7px 10px;
    background-color: #e2fbb7;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-color:transparent;
    width:10rem;
    margin-top: 1rem;
    transition: transform .3s;
    text-align: center;
}

.center_button {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.button_estimate:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button_manage:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button_estimate .button a {
    font-weight: inherit;
}

.button_manage .button a {
    font-weight: inherit;
}

/*section footer*/
.footer {
    background-color: #000000;
    width: auto;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.footer a {
    color: #ffffff;
    font-size: 0.8rem;
    list-style: none;
    line-height: 2em;
}

.footer a:hover {
    text-decoration: underline;
    font-weight: inherit;
}

.footer li {
    color: #ffffff;
    font-size: 0.9rem;
    list-style: none;
    line-height: 2em;
}

.column4 li span {
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

.footer p {
    color: #ffffff;
    font-size: 0.9rem;
    list-style: none;
    line-height: 2em;
    padding-left: 0.6rem;
}

.column1 {
    margin-top: 5px;
}

.column2 .menu_footer {
    font-weight: bold;
}

.column3 .menu_footer {
    font-weight: bold;
}

.column4 .menu_footer {
    font-weight: bold;
}

.footer i[class="fa-brands fa-square-facebook"] {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    padding: 0 10px;
}

.footer i[class="fa-brands fa-square-twitter"] {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    margin: 0 10px;  
}

.footer i[class="fa-brands fa-square-instagram"] {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    margin: 0 10px;  
}

.footer i[class="fa-solid fa-phone"] {
    font-size: 0.8rem;
}

.footer i[class="fa-solid fa-at"] {
    font-size: 0.8rem;
}

.footer i[class="fa-solid fa-location-dot"] {
    font-size: 0.8rem;
}

.footer i[class="fa-regular fa-copyright"] {
    color: #ffffff;
    font-family: 'Open sans', sans-serif;
}

.copyright p {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 1.25rem;
    font-family: 'Open sans', sans-serif;
}

/*menu burger*/
#menu_burger {
    position: absolute;
    right: 2%;
    display: none;
    cursor: pointer;
    
}

/*-----------------------------------------------------------------------*/

/*----------------------------------------------*/
@media screen and (max-width: 480px) {

    header {
        padding-bottom: 0;
    }

    .logo {
        margin-left: 0.2rem;
    }

    /*bannière avec fonction recherche*/
    .banner {
        padding: 0 0 !important;
    }

    .search {
        background-color: inherit;
    }

    .menu_search {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin: 0 auto; 
    }

    .menu_search_deco {
        margin-top: 5px;
    }

    .input_icon_search + i {
        display: none;
    }

    .size_form select {
        width: 13rem !important;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .size_form input {
        width: 12.625rem !important;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .search_btn button {
        width: 13rem !important;
        padding-right: 0;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    /*section actualités*/
    .news_slide {
        flex-direction: column;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        align-items: center;
        flex-wrap: nowrap !important;
    }

    .news h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .news_1, .news_2, .news_3 {
        margin-bottom: 2rem;
    }

    .news {
        padding-bottom: 1rem;
    }

    /*section derniers biens en vente*/
    .sell {
        padding-bottom: 0;
    }

    .sell h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .sell_slide {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .sell_frame {
        margin-bottom: 2rem;
    }

    .navbar_sell {
        padding-bottom: 0.5rem;
        margin-top: -1rem;
    }

    /*section avis clients*/

    .customers .button {
        transition: none;
    }

    .customers .button:hover {
        pointer-events: none;
        transition: none;
    }

    /*section article agence*/
    .agency {
        padding-bottom: 0.5rem;
    }

    .agency h1 {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .bkg_agency p {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        text-justify: inter-word;
        text-align: left !important;
    }

    .button_estimate, .button_manage {
        transition: none;
        max-width: 6rem;
    }

   .button_estimate:hover, .button_manage:hover {
    pointer-events: none;
    transform: none;
    }

    .center_button {
        margin-top: 0;
    }

    .bkg_agency {
        padding-bottom: 2rem;
    }

    /*section footer*/
    .column2, .column3, .column4 {
        margin-left: 0.1rem !important;   
    }

    footer {
        padding-left: 0.2rem !important;
    }

    

}

/*------------------------------------------*/
@media screen and (max-width: 576px) {

    .auth {
        display: none;
    }

    header {
        padding-bottom: 0;
    }

    /*bannière avec fonction recherche*/
    .banner {
        padding: 0 0;
    }

    .search {
        background-color: inherit;
    }

    .menu_search {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin: 0 auto; 
    }

    .menu_search_deco {
        margin-top: 5px;
    }

    .input_icon_search + i {
        top: 13px;
        left: 295px !important;
    }

    .size_form select {
        width: 20rem;
    }

    .size_form input {
        width: 19.6rem;
    }

    .search_btn button {
        width: 20rem;
    }

    /*section actualités*/
    .news_slide {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
    }

    .news h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .news_1, .news_2, .news_3 {
        margin-bottom: 2rem;
    }

    .news {
        padding-bottom: 1rem;
    }

    /*section derniers biens en vente*/
    .sell {
        padding-bottom: 0;
    }

    .sell h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .sell_slide {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .sell_frame {
        margin-bottom: 2rem;
    }

    #frame_1, #frame_2, #frame_4 {
        display: none !important;
    }

    .navbar_sell {
        padding-bottom: 0.5rem;
        margin-top: -1rem;
    }

    /*section avis clients*/
    .customers p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .customers .button {
        transition: none;
    }

    .customers button:hover {
        pointer-events: none;
        transition: none;
    }

    /*section article agence*/
    .agency {
        padding-bottom: 0.5rem;
    }

    .agency h1 {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }

    .bkg_agency p {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        text-justify: inter-word;
        text-align: justify;
    }

    .button_estimate, .button_manage {
        transition: none;
    }

   .button_estimate:hover, .button_manage:hover {
    pointer-events: none;
    transform: none;
    }

    .center_button {
        margin-top: 0;
    }

    .bkg_agency {
        padding-bottom: 2rem;
    }

    /*section footer*/
    .footer {
        display: inherit;
    }

    .social_media i::before {
        font-size: 2.5rem;
    }

    .column2 ul, .column3 ul, .column4 ul {
        padding-left: 0.6rem;
    }

    .footer li {
        font-size: 1.1rem;
        line-height: 1.5em;
    }

    .footer a {
        font-size: 0.9rem;
    }

    .column4 li span {
        font-size: 0.9rem;
    }

}

/*--------------------------------------------*/

@media screen and (max-width: 768px) {

    .auth {
        display: none;
    }

    header {
        padding-bottom: 0;
    }

    /*bannière avec fonction recherche*/
    .banner {
        padding: 0 0;
    }

    .search {
        background-color: inherit;
    }

    .menu_search {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin: 0 auto; 
    }

    .menu_search_deco {
        margin-top: 5px;
    }

    .input_icon_search + i {
        top: 13px;
        left: 295px !important;
    }

    .size_form select {
        width: 20rem;
    }

    .size_form input {
        width: 19.6rem;
    }

    .search_btn button {
        width: 20rem;
    }

    /*section actualités*/
    .news_slide {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
    }

    .news h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .news_1, .news_2, .news_3 {
        margin-bottom: 2rem;
    }

    .news {
        padding-bottom: 2.5rem;
    }

    /*section derniers biens en vente*/
    .sell {
        padding-bottom: 0;
    }

    .sell h1 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .sell_frame {
        margin-bottom: 2rem;
    }

    .navbar_sell {
        padding-bottom: 0.5rem;
        margin-top: -1rem;
    }

    .sell_slide {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    #frame_1, #frame_2, #frame_4 {
        display: none !important;
    }

    /*section avis clients*/
    .customers .button {
        transition: none;
    }

    .customers .button:hover {
        pointer-events: none;
        transform: none;
    }

    /*section article agence*/
    .agency {
        padding-bottom: 0.5rem;
    }

    .agency h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .bkg_agency p {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        text-justify: inter-word;
        text-align: justify;
    }

    .button_estimate, .button_manage {
        transition: none;
    }

   .button_estimate:hover, .button_manage:hover {
    pointer-events: none;
    transform: none;
    }

    .center_button {
        margin-top: 0;
    }

    .bkg_agency {
        padding-bottom: 2rem;
    }

    /*section footer*/
    .footer {
        display: inherit;
    }

    .social_media i::before {
        font-size: 2.5rem;
    }

    .column2 ul, .column3 ul, .column4 ul {
        padding-left: 0.6rem;
    }

    .footer li {
        font-size: 1.1rem;
        line-height: 1.5em;
    }

    .footer a {
        font-size: 0.9rem;
    }

    .column4 li span {
        font-size: 0.9rem;
    }

    /*burger menu*/
    #menu_burger {
        display: block;
        margin-right: 0.5rem;
        padding-top: 1.5rem;
        font-size: 2.5rem;
    }

    #menu_burger:before {
        font-family: 'Font Awesome 5 Free';
        content: "\f0c9";
        font-weight: 900;
    }

   .active #menu_burger:before {
        font-family: 'Font Awesome 5 Free';
        content: "\f00d";
        font-weight: 900;
    }


    nav ul {
        flex-direction: column;
        margin-left: 0;
        position: fixed;
        left: -100%;
        right: 0;
        top: 2.9rem;
        background:#ccffd5;
        width: 100%;
        text-align: right;
        z-index: 10;
        transition: 0.3s;
        border-bottom: 1px solid #1f1f1f;
        opacity: 0.9;
    }

    nav li {
        margin-left: 0 !important;
        border-top: 1px solid #1f1f1f;
    }

    nav li a {
        padding-right: 0.7rem;
    }

    nav li:hover, nav li:active {
        background-color:#e2fbb7;
        margin-left: 0;
    }

    nav li a:hover, nav li a:active {
        font-weight: inherit;
    }

    nav.active ul {
        left: 0;
    }

}

/*-----------------------------------------------*/
@media screen and (max-width: 992px) {
     
    /*header : logo et menu*/
     header ul {
        padding-left: 0;
    }

    /*bannière avec fonction recherche*/

    .search {
        background-color: inherit;
    }

    .menu_search {
        flex-direction: column;
        justify-content: none;
        align-items: center;
        margin: 0 auto; 
    }

    .menu_search_deco {
        margin-top: 5px;
    }

    .input_icon_search + i {
        top: 13px;
        left: 295px !important;
    }

    .size_form select {
        width: 20rem;
    }

    .size_form input {
        width: 19.6rem;
    }

    .search_btn button {
        width: 20rem;
    }

    /*section actualités*/
    .news_slide {
        padding-left: 3rem;
        padding-right: 3rem;
        flex-wrap: wrap;
        gap: 3em 1em;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .size_flex {
        min-width: 40%;
        flex-grow: 1;
    }

    .news_all {
        height: 153px;
    }

    .news_1, .news_2, .news_3, .news_all {
        margin: 0 auto;
    }

    /*section derniers biens en vente*/
    .sell_slide {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #frame_1, #frame_4 {
        display: none;
    }

    .sell_slide {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    /*section avis clients*/
    .customers .button {
        transition: none;
    }

    .customers .button:hover {
        pointer-events: none;
        transform: none;
    }

     /*section article agence*/
     .button_estimate, .button_manage {
        transition: none;
    }

    .button_estimate:hover, .button_manage:hover {
        pointer-events: none;
        transform: none;
        }

}

/*-----------------------------------------------*/
@media screen and (max-width: 1200px) {
     
    /*header : logo et menu*/
     header ul {
        padding-left: 0;
    }

    /*bannière avec fonction recherche*/
    .menu_search_deco {
        width: 10rem;
    }

    .banner {
        padding: 2rem 0;
    }

    .input_icon_search + i {
        left: 140px;
    }

}

/* -------------------------XXL-----------------------*/
@media screen and (min-width: 1500px) {
    .bkg_agency {
        background-image: none;
    }

}
