*{
    padding:0;
    margin: 0;
    font-family:sans-serif ;
    box-sizing: border-box ;
}
@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}
:root {
    --main-color: #b1f3bc;
    --third-color: white;
}

* {
    padding: 0;
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
}

.logo:hover {
    opacity: 0.6;
}

.title-txt {
    font-family: "Baloo2", sans-serif;
    font-size: 1.4rem;
}
.flex {
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-item{
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}

.menu a:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

header {
    background-color: var(--main-color);
    font-family: baloo2;
    font-size: 1.4rem;
    padding: 0.675rem;
}

#check, .checkbtn {
    display: none;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    
    .checkbtn {
        display: block;
        font-size: 30px;
        padding-right: 0.675rem;
        color: black;
        float: right;
    }

    .menu, .logo-mon-compte, header nav {
        display: none!important;
    }

   
    header {
        background-color: var(--main-color);
        font-family: baloo2;
        padding: var(--padd-header);
        font-size: 1.4rem;
    }
    
    .logo:hover {
        opacity: 0.6;
    }
    
    .menu li {
        list-style: none;
        margin: 0 40px 0 0;
    }
    .menu a:hover, .logo-mon-compte:hover {
        font-weight: bolder;
    }
    
    #check, .checkbtn {
        display: none;
        cursor: pointer;
        color: black;
    }
    
    .stop-overflow {
        overflow: hidden;
    }
    
    @media all and (max-width: 768px) {
        
        .checkbtn { 
            display: block;
            font-size: 30px;
            padding-right: 0.675rem;
            float: right;
        }
    
        .menu, .logo-mon-compte {
            position: fixed;
            display: block;
            width: 100%;
            height: 100vh;
            right: -100%;
            text-align: center;
            z-index: 1;
            background: var(--main-color);
            touch-action: none;
        }
    
        .menu {
            top: 5rem;
        }
    
        .logo-mon-compte {
            top: 18rem;
        }
    
        .menu li {
            width: 100%;
        }
    
        .menu li:first-child {
            padding-top: 2rem;
        }
    
        .active {
            right: 0;
        }
    
        .menu, .active, #menu-opener, #menu-closer, .logo-mon-compte {
            transition: .4s;
        }
    }

    /* ******************** NAV BAR ******************** */
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* hide classic menu */
    #topnav_menu {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    #home_link {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    #root {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      min-width: 50vw;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
  
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  









}

body{
    
    justify-content: center;
    align-items:center ;
    height:100vh ;
    background-image: linear-gradient( green , white);
}

.container{
    max-width:650px ;
    padding:28px;
    margin:0  28px;
    border-radius: 10px;
    overflow: hidden;
    background:  rgba(0,0,0,0,2);
    box-shadow:0 15px 25px  ;
}

h2{
    font-size:26px;
    font-weight:bold;
    text-align:left ;
    color: #fff;
    padding-bottom:1px solid red;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px o;
}
.input-box{
    display: flex;
    flex-wrap:wrap;
    width:50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n){
    justify-content:end;
}
.input-box label, .gender-title{
    width:95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.gender-title{
    font-size: 16px;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.test {
    width: 100%;
    height: 100%;
    
}


.parent{
    display: flex;
}

form{
    margin-top: 5rem;
}







.input-box input:is(:focus,:valid){
    box-shadow: 0  3px  6px  rgba(0,0,0,0,2);
}
.gender-category label{
    padding: 0  20px  5px;
    font-size: 14px;
}
.gender-category{
    color:black;
}
.gender-category label, .gender-category input{
    cursor: pointer;
}
.alert p{
    font-size: 14px;
    font-style: italic;
    color:#fff;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}
.alert a{
    font-weight: bold;
    text-decoration: none;
    color:black;
}
.alert a:hover{
    font-weight: bold;
    text-decoration: underline;
    color:red;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,white,gray);
    cursor: pointer;
    transition: 0.3s;
}
.button-container button:hover{
    background-image:  linear-gradient(to right gray,white);
}




@media(max-widht:600px){
    .container{
        min-width:280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .content::webkit-scrolbar{
        width: 0;
    }

}


