
/*******************************ALL**************************/


@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}

@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}

:root {
    --main-color: #b1f3bc;
    --third-color: white;
    --second-color: #1f1f1f;
}

* {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

/*************************HEADER*****************************/

.logo:hover {
    opacity: 0.6;
}

header a {
    text-decoration: none;
}

.title-txt {
    font-family: "Baloo2", sans-serif;
    font-size: 1.4rem;
}
.flex {
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-item{
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}

.menu a:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

header {
    background-color: var(--main-color);
    font-family: baloo2;
    font-size: 1.4rem;
    padding: 0.675rem;
}

#check, .checkbtn {
    display: none;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    .checkbtn {
        display: block;
        font-size: 30px;
        padding-right: 0.675rem;
        color: black;
        float: right;
    }
    .menu, .logo-mon-compte, header nav {
        display: none!important;
    }
}

/*****************************FOOTER*********************************/


footer {
    background-color: #1f1f1f;
    font-family: "opensans";
    padding-top: 0.675rem;
}

footer a {
        text-decoration: none;
    }

.social-media {
    color: var(--third-color);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding-left: 38px;
}

.social-media li {
    padding: 20px;
}

footer p, footer h2, footer li {
    color: var(--third-color);
}

.colonne {
    display: flex;
    padding-top: 0.675rem;
}

footer ul {
    flex-flow: column;
}

footer li {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-services, .footer-access, .footer-contact {
    display: flex;
    flex-direction: column;
    padding-left: 8.95rem;
}


.copyright {
    padding-bottom: 0.675rem;
    text-align: center;
}

.footer-logo img {
    width: 150px;
    height: 73px;
}

.footer-logo {
    padding: 0.675rem;
    padding-top: 0;
}

footer p {
padding-left: 9px;
padding-top: 2rem;
}

#fb:hover, #tw:hover, #insta:hover {
    transform: scale(2);
    cursor: pointer;
}

footer h2 {
    padding-bottom: 10px;
}

footer li a:hover {
    text-decoration: underline;
}

.footer-queries {
    display: flex;
    justify-content: space-around;
}

@media all and (max-width: 576px) {
    
            .colonne {
            flex-direction: column;
            }

            footer p {
            text-align: center;
            padding-top: 20px;
            }

            .social-media {
            justify-content: center;
            gap: 70px;
            font-size: xx-large;
            padding-top: 8px;
            margin-bottom: -10px;
            }

            .footer-queries {
            flex-direction: column;
            margin-left: 100px;
            margin-top: -10px;
            }


            footer h2 {
            margin-bottom: 10px;
            padding-top: 10px;
            }

            footer li {
            white-space: nowrap;
            }
}

@media all and (max-width: 768px) {
    .colonne {
        flex-direction: column;
        align-items: center;
    }
        .footer-queries {
            flex-direction: column;
            margin-left: -60px;
        }

        footer .logo {
            margin-left: 80px;
        }

            footer p {
                padding-top: 1.3rem;
            }

            .social-media {
            justify-content: space-between;              
            padding: 0;    
            font-size: xx-large;
            margin-bottom: -20px;
  }

             footer h2 {
            margin-bottom: 10px;
            margin-top: 15px;
}
}

@media all and (max-width:992px){
    .colonne {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        padding-top: 0;
}

.social-media {
    justify-content: center;
    font-size:xx-large ;
    gap: 60px;
}
}

@media all and (max-width:1200px) {
    .colonne {
        flex-direction: column;
    }

    footer p {
        text-align: center;
}
.social-media {
    justify-content: center;
    font-size:xx-large ;
    gap: 60px;
}
}


/********************************MOBILE*********************************/

@media all and (max-width: 768px) {
    .desktop {
        display: none;
    }
    }

main {
    font-family: "opensans";
}
.mobile-top-offer {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    font-size: large;
}

.mobile-top-text {
    text-align: center;
    position: absolute;  
}


#top-offer1, #top-offer2, #top-offer3 {
    width: 30%;
    border-radius: 0.625em;
}

#top-offer1 {
    position: absolute;
    left: 8.4375em;
    filter: blur(0.3125em);
    z-index: -1;
}

#top-offer3 {
    position: absolute;
    left: 16.25em;
    filter: blur(0.3125em);
    z-index: -1;
}

.go-left, .go-right {
    text-decoration: none;
    border: 0.1875em solid #B1F3BC;
    border-radius: 2rem;
}

.directions {
    display: flex;
    margin-top: 0.625em;
    justify-content: space-around;
    gap: 7.1875em;
}

.logo-form i {
    position: absolute;
    left: 1.875em;
    top: 50%;
    transform: translateY(-50%);
    color:#1F1F1F 
  }

  .logo-form {
    position: relative;
  }

  #form {
    display: flex;
    width: 80%;
    margin-left: 1.25em;
    padding-left: 1.875em;
  }


#map {
    width: 100%;
    margin-top: 0.625em;
}

.section2-photos {
    height: 15rem;
    border: 1.875rem solid #B1F3BC;
    border-radius: 0.938rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: .8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    white-space: nowrap;;
}

#offer-photo {
    width: 100%;
    height: 100%;
}

.agent {
    text-align: center;
}

.paging {
    display: flex;
   list-style: none;
}

.paging li {
    margin: 0 1.563rem;
    text-decoration: none;
}

.inside {
    padding-top: 0.063rem;
}

.paging a {
    display: block;
    padding: 0.625rem;
    text-decoration: none;
    border: 0.063rem solid #B1F3BC;
    border-radius: 2rem;
}

#page-select {
  appearance: none;
  -moz-appearance: none;
  border: 0.125rem solid #B1F3BC;
  border-radius: 3.125rem; /* La moitié de la hauteur pour créer un cercle */
  padding: 0.625rem; /* Ajoutez du rembourrage pour un meilleur aspect */
  cursor: pointer;
  margin-left: 1.25rem;
  margin-top: 0.313rem;
}

#announce-number {
    text-align: center;
    color: grey;
    font-size: x-small;
    margin-top: 9px;
}

.section2-to-apply {
    width: 15rem;
    height: 3.125rem;
    border: 0.625rem solid #B1F3BC;
    border-radius: 0.938rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: smaller;
    text-align: center;
    background-color: #B1F3BC;
    margin-left: 10.5em;
}

.to-apply {
    padding: 0.313rem 0.625rem;
    background-color: #1F1F1F;
    color: white;
    border-radius: 0.313rem;
    cursor: pointer;
}

.to-apply:hover {
    transform: scale(1.05);
}

.about-us {
    width: 15.69rem;
    padding: 0.313rem 0.625rem;
    background-color: #b1f3bc;
    border-radius: 0.313rem;
    cursor: pointer;
    font-size: medium;
    align-items: center;
    border-color: #B1F3BC;
    margin-left: 9rem;
    margin-bottom: .625rem;
}

/*******************************MOBILE-END************************************/


/********************************TOUCH-PAD*********************************/


@media all and (max-width:769px){

    .h4responsive {
        display: none;
    }














 }



/*******************************DESKTOP************************************/

@media all and (min-width: 768px) {
    .mobile {
        display: none;
    }
    }

    .section1 {
        background: #1F1F1F;
    }
    
    .section1-title {
        color: white;
        text-align: center;
        font-size: larger;
        padding-top: 1.563rem;
    }
    
    .section1-form {
        display: flex;
        justify-content: center;
        padding-top: 0.023rem;
        gap: 4.375rem;
    }
    
    #form {
        border-radius: 0.313rem;
        padding-left: 2rem;
    }
    
    ::placeholder {
        color: #1F1F1F;
    }
    
    .logo-form, .logo-form2 {
        position: relative;
      }
    
      .logo-form i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color:#1F1F1F 
      }
    
      .logo-form2 i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color:#1F1F1F 
      }
    
    #research {
        background-color: #B1F3BC;
        border-radius: 0.313rem;
        padding: 0.313rem;
        cursor: pointer;
    }
    
    .refresh-logo {
        filter: invert(1);
    }
    
    .reinitiate {
        color: white;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .refresh-logo-reinitiate {
        display: flex;
        margin: 0 1.25rem;
    }
    
    .refresh-logo, .reinitiate {
        margin: 0.25rem;
    }
    
    .refresh-logo-reinitiate:hover {
        font-weight: bold;
    }
    
    /* comment ajuster la hauter de mon formulaire choix du contrat ? */
    .form-contract {
        display: flex;
        justify-content: center;
        padding-top: 1.25rem;
        gap: 1.25rem;
        padding-bottom: 1.563rem;
    }
    
    .reinitiate {
        padding-bottom: 0.625rem;
    }
    
    .section3 {
        background: #B1F3BC;
    }
    
    .section3-title {
        background: #B1F3BC;
        text-align: center;
        font-size: x-large;
        padding-top: 20px;
    }
    
    .section3-slogan {
        padding-left: 250px;
        padding-top: 30px;
        font-size: large;
    }
    
    .section3-text {
        padding: 30px 750px 10px 70px;
        text-align: justify;
    }
    
    .agency-photo {
        display: flex;
       align-items: center;
    }
    
    .photo123 {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    
    .slogan{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .agency
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px ;
    }
    
    h3 {
        margin-bottom: 30px;
    }
    
    figcaption {
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 15px;
        font-size: large;
    }
    
    .span {
        margin-top: 200px;
    }
    
    .photo {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    #agency {
        margin-right: 8.125rem;
    }
    
    .testimonies {
        display: flex;
        justify-content: center;
        margin-bottom: -20px;
        margin-top: -10px;
    }
    
    .testimony {
        text-align: justify;
    }
    
    #team {
        display: flex;
        justify-content: center;
        margin-left: 150px;
    }
    
    .description{
        margin-left: 60px;
        margin-right: 60px;
       display: flex;
       justify-content: center;
       margin-bottom: 150px;
       text-align: justify;
    }
    
    figcaption {
    padding-left: 135px;
    }
    
    .main-menu {
        display: flex;
        flex-direction: column;
        color: #1F1F1F;
    }
    








/* 
    Jusqu’à 479px : smartphone en portrait
    De 480px à 959px : smartphone en paysage, tablette en portrait et petite tablette en paysage
    De 960px à 1280px : tablette en paysage, écran d’ordinateur de taille petite et moyenne
    1281px et au delà : grand écran d’ordinateur (21″ et + en plein écran )

    @media all and (max-width:576px){ }
    @media all and (max-width:768px){ }
    @media all and (max-width:992px){ }
    @media all and (max-width:1200px){ }

*/      