@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}
:root {
    --main-color: #b1f3bc;
    --third-color: white;
}

* {
    padding: 0;
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
}

.logo:hover {
    opacity: 0.6;
}

.title-txt {
    font-family: "Baloo2", sans-serif;
    font-size: 1.4rem;
}
.flex {
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-item{
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}

.menu a:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

header {
    background-color: var(--main-color);
    font-family: baloo2;
    font-size: 1.4rem;
    padding: 0.675rem;
}

#check, .checkbtn {
    display: none;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    
    .checkbtn {
        display: block;
        font-size: 30px;
        padding-right: 0.675rem;
        color: black;
        float: right;
    }

    .menu, .logo-mon-compte, header nav {
        display: none!important;
    }

}

/*style qui s'applique à la partie main*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(#B1F3BC);
}



















