* {
    margin: 0;
    padding: 0;
    color: inherit;
}

body{
	font-family: 'Roboto';
}

header {
    display: flex;
    background: lightgreen;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    margin: 30px;
    font-size: large;
    gap: 80px;
}

a {
    text-decoration: none;
}

.account {
    margin: 30px;
    text-decoration: none;
    font-size: large;
}

.nos_offres {
    display: flex;
    justify-content: center;
    margin: 30px;
}

main { 
    display: flex;
    background: gray;
}

.formulaire {
    display: flex;
    justify-content: center;
}

.post { 
    display: flex;
    justify-content: center;
}

.reinitiate {
    color: blue;
}

.line {
    display: flex;
    list-style: none;
    margin: 30px;
    font-size: large;
    gap: 80px;
}
