body {
    margin: 0;

}

.header {
    background: lightgreen;

}

.header-nav a {
    padding: 0 50px 30px;
}

.acheter {
    margin: 60px;
}

.auth {
    margin: 0 120px;

}

.middle {
    background: gray;
}

.nos-offres {
    margin: 0 550px;
}

.footer {
    background-color: grey;
}