* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}
:root {
    --main-color: #b1f3bc;
    --third-color: white;
}

a {
    text-decoration: none;
    color: #000;
}
.title-txt {
    font-family: "Baloo2", sans-serif;
    font-size: 1.4rem;
}
.flex {
    display: flex;
}
.justify-content{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.menu li {
    list-style: none;
    margin: 0 40px 0 0;
}
.menu li:hover, .logo-mon-compte:hover {
    font-weight: bolder;
}

header {
    background-color: var(--main-color);
    font-family: baloo2;
    font-size: 1.4rem;
    padding: 0.675rem;
}
h1, h2, h3, h4 {
    font-family: baloo2;
    text-align: center;
}

h2 {
    background-color: var(--main-color);
}

p {
    background-color: var(--main-color);
    font-family: opensans;
    text-align: justify;
    padding: 0px 12px 12px 12px;
    
}

/*---------------------------------------*/

.backpict {
    display: flex;
    justify-content: center;
}

.title-search {
    display: flex;
    justify-content: center;
    
}

.backpict, .title-search {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

.zone0 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.zone1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.zone2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.zone3 {
    display: flex;
    flex-direction: row;
    
}

.zone4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.zone5 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.group-button {
    display: flex;
    flex-direction: column;
}

.pict {
    width: 100%;
}

.pict-invis {
    display: none;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding: 0.675rem;
    font-family: opensans;
    font-size: 1.5rem;
    
}

.lab-pri {
    letter-spacing: 0.022rem;
}

input {
    width: 20rem;
}

button {
    width: 10rem;
    margin: 0rem 0rem 0.675rem 0rem;;
}

@media all AND (max-width:1400px)
    {
        
        input {
            width: 20rem;
        }
        button {
            width: 10rem;
        }
    }

@media all AND (max-width:1200px)
    {
        
        input {
            width: 15rem;
        }
        button {
            width: 8rem;
        }
    }


    @media all AND (max-width:992px)
    {
        
        input {
            width: 9rem;
        }
        button {
            width: 6rem;
        }
        form {
            font-size: 1.2rem;
        }
        .zone4  {
            display: none;
        }

        .zone1 {
            width: 60%;
        }

        .zone2 {
            width: 50%;
        }

        .zone5 {
            width: 100%;
        }
    }

    @media all AND (max-width:768px)
    {
        
        input {
            width: 10rem;
            margin-bottom: 0.675rem;
        }
        button {
            width: 6rem;
            margin: 0rem 0.9rem 0rem 0rem;
        }
        form {
            flex-direction: column;
            align-items:flex-start;
            font-size: 1rem;
        }
        .group-button {
            flex-direction: row;
        }

        .zone1 {
            width: 40%;
        }

        .zone2 {
            width: 60%;
        }

        .zone7  {
            display: none;
        }

    }

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    background-color: black;
    color: white;
}

footer ul {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 12px;
    margin-bottom: 12px;
}

footer li {
    list-style: none;
    font-family: opensans;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

/*---------------------------------------*/

/* Add media query */

@media all AND (max-width:768px)
    {
        nav {
            display: none;
        }
    }

