nav {
    display: flex;
    display: contents;
    margin-left: 16px;
    margin-right: 16px;
}

ul {
    list-style-type: none;
    background-color: #B1F3BC;
}
/* Put a list on the same line. */
li {
    display: inline-block;
}
    /* class to reduce the size of an image... */ 
.mini {
    width: 24px;
}
