/*********** var ***********/
:root {
    --main-color:rgba(177, 243, 188, 1);
    --border-size: 3px;
    --border-radius: 25px;
    --footer-color: #1F1F1F;
}


/*********** Font ***********/
/*@font-face {
    font-family: "Baloo 2";
    src: 
        url("asset\fonts-family\Baloo2-Bold.ttf"),
        url("asset\fonts-family\Baloo2-ExtraBold.ttf"),
        url("asset\fonts-family\Baloo2-Medium.ttf"),
        url("asset\fonts-family\Baloo2-Regular.ttf"),
        url("asset\fonts-family\Baloo2-SemiBold.ttf")
}*/


/*********** Global ***********/

.title-txt {
    font-family: "Baloo 2", sans-serif;
    font-size: 1.5rem;
}

.title-txt.active,
.account-connexion.active h2 {
    font-weight: bold;
}

p, a {
    text-decoration: none;
    color: black;
}

.content-text,
.number_point {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

body {
    margin: 0;
    width: 100%;
}


/*********** Header ***********/

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

header a {
    height: 78px;
}

#head_logo {
    height: 65px;
    padding: 10px 0 3px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 40px 0 0;
}

nav a {
    text-decoration: none;
}

nav li a:hover,
.account-connexion a:hover h2 {
    font-weight: bold;
}

nav li a.active:hover,
.account-connexion.active a:hover h2 {
    font-weight: lighter;
    text-shadow: white 1px 1px 0;
}

.account-connexion {
    background-color: var(--main-color);
    border: none;
}

.account-connexion h2 {
    font-weight: normal;
}

.account-connexion a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-connexion span:nth-child(1) {
    height: 24px;
    width: 24px;
    border: var(--footer-color) solid var(--border-size);
}


/*********** Main ***********/
main {
    --space-element-gap: 35px
}

    /*********** Top content ***********/

#top-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-bottom: var(--space-element-gap);
}

#top-content img {
    height: 100%;
    margin-top: 0;
    border-radius: var(--border-radius);
}

h1.title-txt {
    margin-bottom: 5px;
}

#top-content .content-text {
    margin: 0;
}

    /*********** step block ***********/

section {
    display: flex;
    justify-content: center;
    gap: var(--space-element-gap);
}

.step-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
}

.step-block img {
    width: 90%;
    margin-top: var(--space-element-gap);
}

.step-block div {
    display: flex;
}



    /*********** Breadcrumb ***********/

#breadcrumb .content-text.active:hover {
    cursor: not-allowed;
}



/*********** Footer ***********/
