/*********** var ***********/
:root {
    --main-color:rgba(177, 243, 188, 1);
    --third-color: white;
    --related-green-color: #E2FBB7;
    --footer-color: #1F1F1F;
    --border-size: 3px;
    --border-radius: 25px;
    --margin-left-document: 50px;
    --space-element-gap: 35px;
    --padd-header: 0.675rem;
}


/*********** Font ***********/
@font-face {
    font-family: "baloo2";
    src: 
        url("../fonts-family/Baloo2-Medium.ttf") format(truetype);
}

@font-face {
    font-family: "opensans";
    src: url("../fonts-family/OpenSans/OpenSans-Regular.ttf") format(truetype);
}


/*********** Global ***********/

* {
    padding: 0;
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
}

.title-txt {
    font-family: "baloo2", sans-serif;
    font-size: 1.4rem;
}

.title-txt.active,
.account-connexion.active h2 {
    font-weight: bold;
}

.justify-content {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}

p, a, ul {
    text-decoration: none;
    color: black;
    list-style: none;
}

.content-text,
.number_point,
section h2,
footer h2, .info-button {
    font-family: 'opensans', sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;
}

button, a {
    cursor: pointer;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.hover-low-opacity:hover {
    opacity: 50%;
}



/*********** Main ***********/


    /*********** Top content ***********/

.flex-in-center-column {
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.top-content {
    margin-bottom: var(--space-element-gap);
}

.top-content img {
    height: 100%;
    width: 70%;
    margin-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    filter: blur(3px);
}

.title-absolute {
    position: absolute;
    top: 400px;
    padding: 15px 30px;
    background-color: white;
    border-radius: var(--border-radius);
    text-align: center;
}

.top-content h1.title-txt {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.top-content .content-text {
    margin: 0;
    line-height: 1.5rem;
}

@media all and (max-width: 1070px) {

    .top-content {
        margin-bottom: 0.5rem;
    }

    .title-absolute {
        position: static;
        padding-top: 15px;
    }

    .top-content img {
        border-radius: 0 0 3rem 3rem;
    }

}

@media all and (max-width: 768px) {

    .top-content img {
        width: 100%;
    }

}

    /*********** step block ***********/

    /*variable declaration*/
section {
    --padding-number_point: 10px;
}

section {
    justify-content: center;
    gap: var(--space-element-gap);
    margin-bottom: 20px;
}

.step-block {
    flex-flow: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    width: 40%;
    padding: var(--space-element-gap);
    box-shadow: 0px .24rem 2.4rem rgba(0, 0, 0, 0.1);
}

.step-block div {
    margin: auto var(--space-element-gap);
}

.step-block img {
    margin-bottom: var(--space-element-gap);;
}

.step-block .content-text,
.step-block .number_point {
    margin-top: 0;
}

.step-block .content-text {
    margin-top: calc(var(--padding-number_point)/2);
    align-self: self-start;
}

.info-button {
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 40px;
    margin-top: 15px;
    border: var(--main-color) var(--border-size) solid;
}

.info-button:hover {
    border: var(--footer-color) var(--border-size) solid;
}

.info-button,
.number_point {
    background-color: var(--related-green-color);
    box-shadow: none;
}

.number_point {
    align-self: flex-start;
    font-weight: bold;
    margin-right: 15px;
    padding: calc(var(--padding-number_point)/2) var(--padding-number_point);
    border-radius: var(--border-radius);
}

@media all and (max-width: 768px) {

    section {
        flex-flow: column;
        align-items: center;
    }

    .step-block {
        width: 85%;
    }

}

@media all and (max-width: 576px) {

    .step-block {
        width: 70%;
    }

}

    /*********** Breadcrumb ***********/

.breadcrumb {
    align-items: center;
    margin-left: 0.675rem;
    margin-bottom: 1rem;
}

.breadcrumb a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb * {
    font-size: 0.9rem;
}

.breadcrumb .content-text:nth-child(2) {
    margin: auto 5px;
}

.breadcrumb .content-text.active:hover {
    cursor: not-allowed;
}


/*********** Footer ***********/

footer {
    background-color: #1f1f1f;
    font-family: "opensans";
    padding-top: 0.675rem;
}

.social-media {
    color: var(--third-color);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding-left: 38px;
}

.social-media li {
    padding: 20px;
}

footer p, footer h2, .footer-queries a {
    color: var(--third-color);
}

.colonne {
    display: flex;
    padding-top: 0.675rem;
}

footer ul {
    flex-flow: column;
}

footer li {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-services, .footer-access, .footer-contact {
    display: flex;
    flex-direction: column;
    padding-left: 8.95rem;
}


.copyright {
    padding-bottom: 0.675rem;
    text-align: center;
}

.footer-logo img {
    width: 150px;
    height: 73px;
}

.footer-logo {
    padding: 0.675rem;
    padding-top: 0;
}

footer p {
padding-left: 9px;
padding-top: 2rem;
}

#fb:hover, #tw:hover, #insta:hover {
    transform: scale(2);
    cursor: pointer;
}

footer h2 {
    padding-bottom: 10px;
}

footer li a:hover {
    text-decoration: underline;
}

.footer-queries {
    display: flex;
    justify-content: space-around;
}

@media all and (max-width: 1200px) {

    .colonne {
        flex-direction: column;
    }

    .footer-access, .footer-services, .footer-contact {
        width: 33.33%;
    }

}

@media all and (max-width: 992px) {

    .footer-access, .footer-services, .footer-contact {
        padding-left: 1.5rem;
    }

    .social-media {
        padding-left: 0rem;
    }
    
    .footer-access, .footer-services, .footer-contact {
        width: 20%;
    } 
}

@media all and (max-width: 768px) {

    .footer-access, .footer-services, .footer-contact {
        padding-left: 1.5rem;
        width: max-content;
    }
}

@media all and (max-width: 576px) {

    .colonne {
        flex-direction: column;
    }
    
    .footer-access, .footer-services, .footer-contact {
        padding: 0.675rem;
        padding-left: 1rem;
    }

    .logo {
        padding-left: 12.5rem;
    }

    .footer-logo p {
        padding-left: 8.5rem;
    }

    .social-media {
        font-size: 3.5rem;
        padding-left: 0rem;
        justify-content: space-around;
    }

    .social-media li {
        padding: 1rem 8.6rem 1rem 0rem;
    }

    .footer-queries {
        flex-direction: column;
    }

    .social-media li:last-child {
        padding-right: 0;
    }
}

@media all and (max-width: 460px) {

    .logo {
        padding-left: 6.5rem;
    }

    .social-media li {
        padding-right: 4rem;
    }

}