/*********** var ***********/
:root {
    --main-color:rgba(177, 243, 188, 1);
    --related-green-color: #E2FBB7;
    --footer-color: #1F1F1F;
    --border-size: 3px;
    --border-radius: 25px;
    --margin-left-document: 50px;
    --space-element-gap: 35px;
}


/*********** Font ***********/
@font-face {
    font-family: "Baloo 2";
    src: 
        url("../fonts-family/Baloo2-Medium.ttf") format(truetype);
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts-family/OpenSans/OpenSans-Regular.ttf") format(truetype);
}


/*********** Global ***********/

.title-txt {
    font-family: "Baloo 2", sans-serif;
    font-size: 1.4rem;
}

.title-txt.active,
.account-connexion.active h2 {
    font-weight: bold;
}

p, a, ul {
    text-decoration: none;
    color: black;
    list-style: none;
}

.content-text,
.number_point,
section h2,
footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    width: 100%;
}

button, a {
    cursor: pointer;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.hover-low-opacity:hover {
    opacity: 50%;
}


/*********** Header ***********/

header {
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margin-left-document) 0 var(--margin-left-document);
}

header a {
    height: 78px;
}

#head_logo {
    padding: 10px 0 3px;
    overflow: hidden;
}

nav li {
    margin: 0 40px 0 0;
}

nav li a:hover,
.account-connexion a:hover h2 {
    font-weight: bold;
}

nav li a.active:hover,
.account-connexion.active a:hover h2 {
    font-weight: lighter;
    text-shadow: white 1px 1px 0;
}

.account-connexion {
    background-color: var(--main-color);
    border: none;
}

.account-connexion h2 {
    font-weight: normal;
}

.account-connexion a {
    align-items: center;
    gap: 10px;
}

.fa-user {
    font-size: 1.1rem;
}

#check, .checkbtn {
    display: none;
    cursor: pointer;
}

@media all and (max-width: 830px) {
    
    .checkbtn {
        display: block;
        font-size: 30px;
        color: black;
        float: right;
    }

    nav ul {
        display: none!important;
    }

    nav li {
        display: block;
    }

    .account-connexion {
        display: none;
    }

}

/*********** Main ***********/


    /*********** Top content ***********/

.flex-in-center-column {
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.top-content {
    margin-bottom: var(--space-element-gap);
}

.top-content img {
    height: 100%;
    margin-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    filter: blur(3px);
}

.title-absolute {
    position: absolute;
    top: 400px;
    padding: 0 30px 15px;
    background-color: white;
    border-radius: var(--border-radius);
    text-align: center;
}

h1.title-txt {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.top-content .content-text {
    margin: 0;
}

    /*********** step block ***********/

    /*variable declaration*/
section {
    --padding-number_point: 10px;
}

section {
    justify-content: center;
    gap: var(--space-element-gap);
    margin-bottom: 20px;
}

.step-block {
    flex-flow: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    width: 35%;
    box-shadow: 0px .24rem 2.4rem rgba(0, 0, 0, 0.1);
}

.step-block img {
    margin: var(--space-element-gap);
    width: 90%;
}

.step-block .content-text,
.step-block .number_point {
    margin-top: 0;
}

.step-block .content-text {
    margin-top: calc(var(--padding-number_point)/2);
}

.info-button {
    border: none;
    border-radius: var(--border-radius);
    padding: 0 40px;
    margin-bottom: 30px;
    border: var(--main-color) var(--border-size) solid;
}

.info-button:hover {
    border: var(--footer-color) var(--border-size) solid;
}

.info-button,
.number_point {
    background-color: var(--related-green-color);
    box-shadow: none;
}

.number_point {
    font-weight: bold;
    margin-right: 15px;
    padding: calc(var(--padding-number_point)/2) var(--padding-number_point);
    border-radius: var(--border-radius);
}


    /*********** Breadcrumb ***********/

.breadcrumb {
    align-items: center;
    margin-left: var(--margin-left-document);
}

.breadcrumb a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb * {
    font-size: 0.9rem;
}

.breadcrumb .content-text:nth-child(2) {
    margin: auto 5px;
}

.breadcrumb .content-text.active:hover {
    cursor: not-allowed;
}


/*********** Footer ***********/

footer {
    background-color: var(--footer-color);
    flex-flow: wrap;
    align-items: flex-start;
}

footer * {
    color: white;
}

footer ul {
    padding-left: 0;
}

.identity {
    margin-left: var(--margin-left-document);
    width: 30%;
}

.identity a {
    display: block;
}

.identity img {
    margin: 15px auto;
}

.social-media ul {
    gap: var(--space-element-gap);
}

.quick-links-block {
    width: 60%;
}

.quick-links:nth-child(2) {
    margin: auto 170px;
    width: 20%;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links li a:hover {
    text-decoration: underline;
}

.quick-links:nth-child(3) {
    width: 30%;
}

.contact-links i {
    margin-right: 5px;
}

.copyright {
    text-align: center;
}