/* reset css */
* {
    margin: 0px;
    padding: 0px;
}

/* General code CSS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}

:root {
    --main-color: #b1f3bc;
    --third-color: white;
}

h2 {
    color: white;
    font-family: Baloo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 36px;
}

/* Header + Nav */



/* Search bar */

.search_bar {
    margin-top: 4rem;
}

.icon_search {
    padding: 1rem;
    background-color: black;
    border: 5px solid;
    border-color: #E2FBB7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bar_search input {
    padding: 25px;
    font-size: 25px;
    color: #E2FBB7;
    height: auto;
    width: 500px;
    background-color: black;
    border: 5px solid;
    border-color: #E2FBB7;
}

.bar_search {
    padding-right: 4rem;
}

.button_search {
    padding: 1.65rem;  
    font-size: 20px;    
    color: #E2FBB7;
    background-color: black;
    border: 5px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #E2FBB7;
}



/* Presentation text to_manage */

.presentation_to_manage {
    margin-top: 2rem;
}

.presentation_to_manage p {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 53px;
}

/* Les services immobliers */

.bloc_article {
    display: flex;
}

.article_1 {
    background: black;
    width: 50%;
    margin-left: 64px;
    margin-top: 50px;
    margin-right: 16px;
}

.title_service {
    color: #E2FBB7;
    font-family: Baloo 2;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 56px;
    padding-top: 20px;
    padding-bottom: 24px;
}

.image_service_1 {
    padding-left: 160px;
    padding-bottom: 25px;

}

.text_service {
    color: #E2FBB7;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 160px;
    padding-bottom: 47px;
    padding-right: 159px;
    word-spacing: 1rem;
}

.article_2 {
    background: black;
    width: 50%;
    margin-top: 50px;
    margin-right: 64px;
}

.title_service2 {
    color: #E2FBB7;
    font-family: Baloo 2;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 56px;
    padding-top: 20px;
    padding-bottom: 24px;
}

.image_service2 {
    padding-left: 160px;
    padding-bottom: 25px;
}

.text_service2 {
    color: #E2FBB7;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 160px;
    padding-bottom: 47px;
    padding-right: 159px;
    word-spacing: 1rem;
}

.footer_article {
    background: black;
}

/* Stats */

.bloc_stats {
    background: black;
    width: 93%;
    margin-left: 64px;
    margin-bottom: 2rem;
}

.title_stats {
    color: #E2FBB7;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 125px;
    margin-bottom: 40px;
    padding-top: 40px;
}

.icone_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 235px;
    margin-right: 235px;
}

.icone_stats p {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #E2FBB7;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_stats {
    background: black;
}

/************** FOOTER ******************   */



/* Media Queries */



@media screen and (max-width: 1919px) {
    .bloc_article {
        flex-direction: column;
    }
    .article_1 {
        width: 90%;
        margin: 0 auto;
    }

    .image_service_1 {
        width: 63%;
    }

    .text_service {
        padding-right: 49px;
    }

    .article_2 {
        width: 90%;
        margin-left: 64px;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .image_service2 {
        width: 63%;
    }

    .text_service2 {
        padding-right: 49px;
    }

    .bloc_stats {
        width: 90%;
        margin: 0 auto;
    }
    .icone_stats {
       flex-direction: column;
    }
}

@media all and (max-width: 768px) {
    
    .checkbtn {
        display: block;
        font-size: 30px;
        padding-right: 0.675rem;
        color: black;
        float: right;
    }

    .menu, .logo-mon-compte, header nav {
        display: none!important;
    }

}

@media all and (max-width: 1200px) {
    .colonne {
        flex-direction: column;
    }

    .footer-access, .footer-services, .footer-contact {
        width: 33.33%;
    }

}

@media all and (max-width: 992px) {
    .footer-access, .footer-services, .footer-contact {
        padding-left: 1.5rem;
    }
    .social-media {
        padding-left: 0rem;
    }
    .footer-access, .footer-services, .footer-contact {
        width: 20%;
    } 
}

@media all and (max-width: 768px) {
    .footer-access, .footer-services, .footer-contact {
        width: max-content;
    }

    .search_bar {
        display: none;
    }
}

@media all and (max-width: 576px) {
    .colonne {
        flex-direction: column;
    }
    .footer-access, .footer-services, .footer-contact {
        padding: 0.675rem;
        padding-left: 1rem;
    }

    .logo {
        padding-left: 12.5rem;
    }

    .footer-logo p {
        padding-left: 8.5rem;
    }

    .social-media {
        font-size: 3.5rem;
        padding-left: 0rem;
        justify-content: space-around;
    }

    .social-media li {
        padding: 1rem 8.6rem 1rem 0rem;
    }

    .footer-queries {
        flex-direction: column;
    }

    .social-media li:last-child {
        padding-right: 0;
    }

    .title_service, .title_service2 {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .image_service_1, .image_service2 {
        padding-left: 6.5rem;
    }

    .text_service, .text_service2 {
        padding-left: 6.5rem;
        display: flex;
        justify-content: center;
    }

    .search_bar {
        display: none;
    }
}

@media all and (max-width: 460px) {

    .logo {
        padding-left: 6.5rem;
    }

    .social-media li {
        padding-right: 4rem;
    }

}