/* reset css*/ 
* {
    margin: 0px;
    padding: 0px;
}

/* General*/ 

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header + nav*/
header {
    background-color: rgba(177, 243, 188, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    color: #000;
    font-family: Baloo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.logo {
    height: 75px;
    width: 150px;
}

li a:hover {
    border: 2px solid black;
    border-radius: 10px;
    border-width: thick;
    padding: 5px;
}

/* Barre de recherche */

.icone_localisation {
    padding-right: 20px;
}
.localisation_search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    background-color: black;
    background-size: 900px 71px;
}

.adress {
    height: 50px;
    width: 971px;
    display: flex;
    align-items: center;
}

/* Descritpion to manage */

.description_to_manage {
    margin-top: 53px;
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Block service 1 et 2 */

.section_service {
    display: flex;
    align-items: center;
}

/* Service 1 */

.service_1 {
    margin-top: 90px;
    margin-left: 64px;
    background-color: black;
    width: 888px;
    height: 1218px;
}

.title_service_1 {
    padding-left: 110px;
    margin-bottom: 24px;
    color: #E2FBB7;
    font-family: Baloo2 semibold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image_service_1 {
    padding-left: 160px;
    margin-bottom: 25px;
}

.paragraph_service_1 {
    width: 569px;
    height: 569px;
    padding-left: 160px;
    margin-bottom: 32px;
    color: #E2FBB7;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Service 2 */

.service_2 {
    margin-top: 90px;
    margin-left: 968px;
    margin-right: 64px;
    background-color: black;
    width: 888px;
    height: 1218px;
}

.title_service_2 {
    margin-bottom: 24px;
    margin-right: 408px;
    color: #E2FBB7;
    font-family: Baloo2 semibold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image_service_2 {
    margin-bottom: 25px;
    margin-right: 182px;
}

.paragraph_service_2 {
    width: 569px;
    height: 554px;
    color: #E2FBB7;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 159px;
    margin-bottom: 32px;
}

/* Statistiques */

.bloc_stats {
    width: 1795px;
    height: 448px;
    background-color: black;
    margin-left: 61px;
    margin-right: 64px;
}

.title_stats {
    margin-top: 125px;
    margin-left: 839px;
    margin-right: 845px;
    padding-top: 14px;
    color: #E2FBB7;
    text-align: center;
    font-family: Baloo2;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}