@font-face {
    font-family: "baloo2";
    src: url(../fonts-family/Baloo2-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(../fonts-family/OpenSans/OpenSans-Regular.ttf);
}
:root {
    --main-color: #b1f3bc;
    --third-color: white;
}

* {
    padding: 0;
    margin: 0;
    color: inherit;
}

/**********TITRE DE LA PAGE**********/
h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-family: "Baloo2", sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.info h3:hover {
    text-decoration: underline;
}


/***********CASE D'ESTIMATION*********/

h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-family: "Baloo2", sans-serif;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.estimer {
    margin: 0 auto;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 1px 2px 1px 2px;
}

.estimer-2 {
    margin: 0 auto;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 1px 2px 1px 2px;
}

h5 {
    margin: 1rem;
    margin-top: 1rem;
    font-size: 0.950rem;
    font-family: "opensans", sans-serif;
}

.selection {
    margin-left: 1.5rem;
    font-size: 0.850rem;
    font-family: "opensans", sans-serif;
}

.adresse {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    font-family: "opensans", sans-serif;
}

.adresse input {
    border-radius: 0.880rem;
    margin-right: 5rem;
    width: 500px;
    height: 40px;
    font-size: 0,95rem;
}

.estim-part {
    display: flex;
    justify-content: space-around;
}

.estim-part-2 {
    padding-left: 1.5rem;
}

.estimer-2 {
    display: none;
}

.suivant {
    display: block;
    font-size: 0.850rem;
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: #e2fbb7;
    padding: 1rem;
    border-radius: 0.88rem;
    margin-bottom: 1rem;
    font-family: "opensans", sans-serif;
}

.precedent {
    display: block;
    font-size: 0.850rem;
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: #e2fbb7;
    padding: 1rem;
    border-radius: 0.88rem;
    margin-bottom: 1rem;
    font-family: "opensans", sans-serif;
}

.swp {
    display: flex;
    justify-content: space-between;
}

.swp-2 {
    display: flex;
    justify-content: space-between;
}

.valider {
    display: block;
    font-size: 0.850rem;
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: #e2fbb7;
    padding: 1rem;
    border-radius: 0.88rem;
    margin-bottom: 1rem;
    font-family: "opensans", sans-serif;
}

@media all and (max-width: 576px) {
    .estimation-immo {
        display: flex;
        justify-content: space-around;
    }

    .information {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

}

@media all and (max-width: 576px) {
    
    h3 {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        text-align: center;
        margin-right: 1rem;
    }

    .estimer {
        margin: 0 auto;
        width: 90%;
        border-radius: 1rem;
    }

    .estimer-2 {
        margin: 0 auto;
        width: 90%;
        border-radius: 1rem;
    }
    
    .adresse input {
        width: 95%;
        margin-right: 1rem;
    }
}

/***********PARTIE INFORMATION**********/

.information {
    display: flex;
    justify-content: space-around;
}

.estimation-immo {
    margin-top: 8rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--main-color);
}

.info {
    padding: 1rem;
    border-radius: 0.88rem;
}

.info a {
    text-align: center;
}

.info p {
    font-family: "opensans", sans-serif;
    text-align: center;
    font-size: 0.85rem;
}

.ensaone {
    display: block;
    font-size: 0.84rem;
    background-color: #e2fbb7;
    padding: 0.6rem;
    border-radius: 0.88rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: "opensans", sans-serif;
}

